@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

    :root {
        --Button: #8e7bef;
        --Container: #FCDA68;
        --Text1: #222222;
        --Text2: #423F40;
        --Text3: #FFFFFF;
        --Contact: #f6f2f9;
        --Body: #f8f8f8;
        --Menu: #ffcb1f;
        --navBar: #9d8afd;
        --menuShow: #9d8afdf6;
        --Ball: #ffffff;
        --Scrollbar: hsl(0, 0%, 85%);
        --ScrollbarThumb: #423F40;
        --Toogle: linear-gradient(90deg, rgba(78,106,227,1) 0%, rgba(74,194,93,1) 100%);

    }

    body.darkmode{
        --Button: #3c5fcf;
        --Container: #360b0b;
        --Text1: #ffffff;
        --Text2: #e2e2e2;
        --Text3: #FFFFFF;
        --Contact: #02020c;
        --Body: #040413;
        --Menu: #b30909;
        --navBar: #202457;
        --menuShow: #202457f5;
        --Ball: #02000a;
        --Scrollbar: #262626;
        --ScrollbarThumb: #d8d8d8;
        --Toogle: linear-gradient(90deg, rgba(78,106,227,1) 0%, rgba(74,194,93,1) 100%);
    }

    
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    .ff-Inter{
        font-family: 'Inter', sans-serif;
    }

    a{
        text-decoration: none;
        color: inherit;
    }

    .father ul li{
        padding-top: 2rem ;
    }
    .father ul li:active {
        color:var(--Menu);
    }

    
    .father{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;
    }

    body{
        background-color: var(--Body);

        transition: background-color 0.5s, color 0.5s;
    }

    section .home{
        padding-top: 4rem;
    }

    section .experiencia_y_habilidades{
        width: 100%;
        background-color:var(--Container);
    }




/* ------------------------------------------------- S C R E E N  L O A D ------------------------------------------------ */

    .load{
        width: 100vw;
        height: 100vh;
        background-color:var(--Contact);
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }
    
    .loading{
        color:var(--Text1);
        font-weight: 600;
    }
    
    .loadIcon{
        animation: loadingAnimation 2s infinite;

    }

    @keyframes loadingAnimation{
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }




    /* ------------------------------------------ S C R O L L B A R ------------------------------------------ */

    html{
        scroll-behavior: smooth;
    }

    body::-webkit-scrollbar {
        width: 0.7rem;
        background-color:var(--Scrollbar);
    }

    body::-webkit-scrollbar-thumb {
        background:var(--ScrollbarThumb);
        border-radius: 8px;
        border: 2px solid transparent;
        background-clip: content-box;
    }

    body::-webkit-scrollbar-thumb:hover {
        background:var(--Text1);
        border-radius: 8px;
        border: 2px solid transparent;
        background-clip: content-box;
    }
     



    /* ----------------------------------------- M E N U ----------------------------------------- */

    .icon_menu{
        padding: .7rem;
        position: fixed;
        width: 100%;
        background-color:var(--Body);
        display: flex;
        justify-content: flex-end;
        box-shadow: 0 1px 4px hsl(0deg 4% 15% / 20%);
        transition: 0.3s;
        z-index: 1;

        transition: background-color 0.5s, color 0.5s;
    }

    .change-color{
        background-color:var(--navBar);
        padding: .7rem;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        transition: 0.3s;
        z-index: 1;
    }

    #color{
        border: none;
        background: none;
        color:var(--Menu);
        font-size: 24px;
    }

    .father .menu_nav{
        display: none;

    }

    .father .menu_show{
        top: 50px;
        position: fixed;
        align-self: flex-end;
        min-height: 20vh;
        width: 100%;
        background-color:var(--menuShow);
        right: 0;
        text-align: center;
        padding-bottom: 2rem ;
        color: var(--Text1);
        font-weight: bold;
        border-bottom-left-radius: 10%;
        border-bottom-right-radius: 10%;
        display: block;
        box-shadow: 0 1px 4px hsl(0deg 4% 15% / 20%);
        z-index: 1;


        }


    a .menu_nav{
        text-decoration: none;
    }

    .navbar{
       display: none;
    }








    /* --------------------------------------- TOOGLE ---------------------------------------- */

    .container_toogle{
        display: flex;
        justify-content: right;
        padding: 0 1rem;
    }

    .toogle{
        height: 25px;
        width: 50px;
        background: var(--Toogle);
        border-radius: 3rem;
        margin-top: 10px;
        align-self: center;
        position: relative;
        }

    .ball{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        background-color: var(--Ball);
        margin-top: 2.4px;
        margin-left: 3px;
        position: absolute;
        cursor: pointer;

        transition:all 0.5s;
    }

    .ball_active{
        margin-left: 27px;
    }







/* --------------------------------------------H O M E -------------------------------------------- */

    .home{
       display: flex;
       flex-direction: column;
       gap: 1rem;
    }

    .tittle{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }

    .tittle .first_tittle{
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        color:var(--Text1);
        
    }


    .second_tittle{ 
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        gap: 1rem;
        color: var(--Text2);
    }

    .paragrahp{
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        font-size: 20px;  
        text-align: center;
        justify-content: center;
        color: var(--Button);
    }

    .replay{
        color:var(--Text2);
    }


    .icons{
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    
    .icon1, .icon2, .icon3{
        background-color: var(--Button);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        border: none;
        justify-items: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 4px hsl(0deg 4% 15% / 70%);

    } 

    .btn{
        font-size: 1rem;
        padding: 0.8rem 41px;
        border: none;
        display: flex;
        width: fit-content;
        align-self: center;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);

    }

    .bottom{
        display: flex;
        background-color:var(--Button);
        color: var(--Text3);
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .principal_image{
        display: flex;
        max-width: 550px;
        align-self: center;
    }

    .principal_image .img_desktop{
        display: none;
    }

    






/* --------------------------E X P E R I E N C I A  Y  H A B I L I D A D E S-------------------------- */

    .experiencia_y_habilidades{
        width: 100%;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color:var(--Lightyellow) */
    }

    .experiencia_y_habilidades .tittle{
        color:var(--Text1);
        font-weight:600;
        font-size: 32px;
    }

    .experiencia_y_habilidades .paragrahp2{
        color: var(--Text2);
       font-size: 20px;
       font-weight: 600;
    }

    .experiencia_y_habilidades .subtittle{
      font-weight: 600;
      color: var(--Text1);
    }


    .experience{
        display: flex;
        gap: 1rem;
    }

    .second_line_experience{
        display: flex;
        flex-direction: column;
    }   

    .father hr {
        border: none;
        height: 1px;
        background-color:var(--Text2);
    }

    .data_1, .data_3{
        color: var(--Text2);
    }

    .data_2{
        font-weight: bold;
        color: var(--Text1);
    }

    .abilities .text{
       font-weight: 400;
       text-align: center;
       margin-bottom: 30px;
       color: var(--Text1);
       
    }

    .experiencia_y_habilidades .text_hability{
        color:var(--Text1);
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .abilities {
        display: grid;
        justify-items: center;
    }

    .abilities .text{
        color:var(--Text1);
        font-weight: bold;
    }







    /* ------------------------------------P O R T A F O L I O---------------------------------------*/

    .portafolio{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        width: fit-content;
        margin: 0 auto;
    }

    .portafolio .tittle{
        margin-top: 40px;
        color: var(--Text1);
        width: fit-content;
       
    }

    .example .sub_text{
        color: var(--Button);
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        width: fit-content;  

    }

    .portafolio .image{
        width: 100%;
    }

    .portafolio .example{
        justify-items: center;
    }

    





    /*-------------------------------------C O N T A C T O---------------------------------------*/

    .contacto .back_title{
        font-size: 32px;
        color: var(--Text2);
        text-align: center;
        font-weight: 600;
    }

    .contact{
        padding: 2rem;
        display: flex;  
        justify-content:space-between 
    }
 
    .images{
    margin-top: 30px;
    }

    .contacto .images img {
        background-color:var(--Contact);
        border-radius: 50%;
        padding: 20px;
    }

    .contacto{
        padding: 1rem;
    }

    .contacto .contact_subtittle{
        color:var(--Text1);
        font-weight: bold;
        display: flex;
        justify-content: space-between;
    }

    .contact_subtittle .text_tittle_email{
        margin-right: 48px;
    }
    
    .contact_subtittle .text_tittle_phone{
        margin-left: 18px;
    }

    .contacto .contact_information{
        font-weight: 400;
        font-size: small;
        color: var(--Text2);
        display: flex;
        justify-content: space-between;
    }

    .contact_information .phone_number{
        margin-left: 35px;
        opacity: 70%;
    }
    
    .contact_information .email{
        margin-left: 55px;
        opacity: 70%;
    }

    .Git{
        padding-top: 3rem;
        text-align: center;
        color: var(--Text2);
    }

    a.cambiar{
        color: var(--Button);
    }

    .End_text{
        color: var(--Button);
        margin-top: 50px;
        display: flex;
        justify-content: center;
        gap: 0.3rem;   
    }







    /* -----------------------------------------------------D E S K T O P----------------------------------------------------- */

    @media ( min-width: 780px){
        body{
            font-size: 18px;
        }

        .father{
            gap: none;
        }

        ul {
            list-style: none;
        }
    
        a {
            text-decoration: none;
            color: inherit;
        }




/* ------------------------------------------- MENU NAV -------------------------------------------------- */
    
    
        .navbar{
            background-color:var(--Body);
            display: flex;
            justify-content:right;
            padding: 0 1rem;
            padding-right: 3rem;
            position: fixed;
            width: 100%;
            height: 65px;
            z-index: 1;
            box-shadow: 0 1px 4px hsl(0deg 4% 15% / 20%);

            transition: background-color 0.5s, color 0.5s;
        }


        .father ul li:hover {
            color: var(--Button);
            font-size: 16px;
        }

        .navbar ul{
            display: flex;
            gap: 4rem;
            font-size: 14px;
            color: var(--Text2);
            font-weight: 600;
        }
        
        .menu{
            display: none;
        }

        .menu_nav{
            display: none;
        }

        

    /* ---------------------------------- T O O G L E ----------------------------------------------- */

        .container_toogle{
            grid-column: 2/3;
            grid-row: 1;
            height: 30px;
        }


/* ------------------------------------------ HOME DESKTOP ---------------------------------------- */

        .home{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 30px 100px 100px 100px 100px 100px;
            padding: 2rem;
            padding-left: 4rem;
            padding-right: 6rem;
        }

        section{
            padding-top: 1rem;
        }
    
        .principal_image .img_mobile{
            display: none;
        }

        .principal_image{
            grid-column: 2/3;
            grid-row: 1/7;
            justify-content: center;
            align-items: center;  
            align-self: center;       
            justify-content: flex-end; 
            margin-left: 150px;   
        }

        .principal_image .img_desktop{
            width: 100%;
            display: block;
        }

        .tittle{
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .tittle .first_tittle{ 
            text-align: left;
            font-size: 50px;
        }

        .tittle .second_tittle{
            text-align: left;
            font-size: 24px;
        }

        .tittle .paragrahp{
            text-align: left;
            width: fit-content;
        }

        .icons {
            grid-column: 1/2;
            grid-row: 5/6;
            justify-content: left;
            height: fit-content;
            margin-left: 15px;
        }

        .btn {
            grid-column: 1/2;
            grid-row: 5/7;
            margin-left: 15px;
            width: 60%;
            align-self: center;
        }





/* -------------------------------- EXPERIENCE DESKTOP ----------------------------------------- */
        .experiencia_y_habilidades{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(7, 50px);
            padding-top: 3rem;
            padding-left: 4rem;
            padding-right: 6rem;
            padding-bottom: 8rem;
            
        }

        .experiencia_y_habilidades .tittle{
            grid-column: 1/2;
            grid-row: 1/2;
            font-size: 40px;
            text-align: left;
        }

        .experiencia_y_habilidades .paragrahp2{
            grid-column: 1/2;
            grid-row: 3/4;
            font-size: 24px;
            text-align: left;
            padding-right: 5rem;
            margin-left: 15px;
        }

        .experiencia_y_habilidades .subtittle{
            grid-column: 2/3;
            grid-row: 1/1;
            font-size: 20px;
        }

        .experiencia_y_habilidades .uno{
            grid-column: 2/3;
            grid-row: 2/2;
            gap: 2rem;
        }

        .experiencia_y_habilidades .dos{
            grid-column: 2/3;
            grid-row: 3/4;
            gap: 2rem;
        }

        .experiencia_y_habilidades .tres{
            grid-column: 2/3;
            grid-row: 4/5;
            gap: 2rem;
        }

        .father hr.primero {
            grid-column: 2/3;
            grid-row: 2/4;
            margin-top: 50px;
        }

        .father hr.segundo {
            grid-column: 2/3;
            grid-row: 3/4;
            margin-top: 50px;
        }

        .experiencia_y_habilidades .text_hability{
            grid-column: 1/2;
            grid-row: 6/7;
            margin-left: 20px;
        }

        .abilities{
            grid-column: 1/3;
            grid-row: 7/8;
            display: grid;
            grid-template-columns: repeat(4, 200px);
            grid-template-rows: repeat(2, 1fr);
            justify-content: center;
        }

        .abilities .uno{
            grid-column: 1/2;
            grid-row: 2;
            font-size: 18px;
            font-weight: 400;
            
        }

        .abilities .dos{
            grid-column: 2/3;
            grid-row: 2;
            font-size: 18px;
            font-weight: 400;
        }

        .abilities .tres{
            grid-column: 3/4;
            grid-row: 2;
            font-size: 18px;
            font-weight: 400;
        }

        .abilities .cuatro{
            font-size: 18px;
            font-weight: 400;
        }





        /* ------------------------ P O R T A F O L I O   D E S K T O P --------------------------- */

        .portafolio{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: .2fr 1fr;
            padding: 0 4rem;           
        }

        .portafolio .tittle{
            font-size: 40px;
            font-weight: 600;
            
        }

        .portafolio .primero{
            grid-column: 1;
            grid-row: 2;
            justify-content: center;
        }

        .portafolio .segundo{
            grid-column: 2;
            grid-row: 2;
        }

        .portafolio .tercero{
            grid-column: 3;
            grid-row: 2;
        }

        .portafolio .image{
            padding: none;
        }




        

        /* ----------------------- C O N T A C T   D E S K T O P ----------------------------------- */
        .contacto .back_title{
           text-align: left;
           padding-left: 4rem;
        }
        
        .contacto .outline_icons{
          padding: 0 200px;
        }

        .contacto .images{
            align-self: center;
        }

        .contacto .images img {
            background-color:var(--Contact);  
            border-radius: 15px;
            padding: 25px;
        }
        
    }

    @media ( min-width: 900px){
        .tittle .first_tittle{ 
            text-align: left;
            font-size: 65px;
        }
    }

    @media ( min-width: 1024px){
        .tittle .first_tittle{ 
            text-align: left;
            font-size: 70px;
        }
    }